<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/suppliers">Suppliers</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <!-- Dropdown -->
    <li class="nav-item dropdown" *ngIf="kcSecurityService.kc.authenticated">
      <a class="nav-link clickable dropdown-toggle" (click)="onChangePassword()" id="navbardrop" data-toggle="dropdown">
        <span *ngIf="kcSecurityService.kc.authenticated">
          {{user.name}}
        </span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item clickable" (click)="onLogout()" >Logout</a>
        <a class="dropdown-item clickable" (click)="onChangePassword()">Change password</a>
      </div>
    </li>
    <li class="clickable text-white" (click)="onLogin()" *ngIf="!kcSecurityService.kc.authenticated">
      Login
    </li>
  </ul>
</nav>
<router-outlet>

</router-outlet>
